ecs-logging==1.1.0
boto3==1.21.16
rapidfuzz==2.11.1
pymongo[srv]==4.0.2
uvicorn==0.17.6
pandas==1.3.5
numpy==1.21.6
fastapi==0.75.0
onnxruntime==1.12.0
python-dotenv==0.19.2
pytest==5.3.4
Pillow==9.2.0
torch==1.12.0
torchvision==0.13.0
pydantic==1.9.0
nltk==3.7
dnspython
pycaret==2.3.10
xgboost==1.6.1
Unidecode==1.3.6
lightgbm==3.3.2
git+https://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:x-oauth-basic@github.com/Veriori-S-A/tise-scraper-library